.home-container {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .home-container h1 {
    color: #1891b6;

  }
  
  .home-container p {
    font-size: 16px;
    color:white;
  }
  