.table-container {
    max-width: 1200px;
    overflow-x: auto;
  }
  
  table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid  #135164;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #1a718b;
    color: white;
  }
  
  tr
  {
    background-color: #b9b8b8;
  }
  tr:nth-child(even) {
    background-color: #959697;
  }
  
  tbody tr:hover {
    background-color: #2b90af;
    cursor: pointer;
  }