.menu {
    background-color: #1a718b;
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .nav-link {
    background-color: #1a718b;
    width: 50px;
    color: white;
    padding: 15px 30px;    
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .nav-link:hover {
    background-color: #1a718b;
    transform: scale(1.05);
  }
  
  .user-menu {
    position: relative;
  }
  
  .dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 10px;
    color: #333;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  